.boxed-word {
  border: 1px solid #007bff; /* Color of box border */
  padding: 0.15em 0.35em;     /* Space around text */
  border-radius: 0.25em;      /* Rounded corners (optional) */
  background-color: #f8f9fa;  /* Light background (optional) */
  color: #212529;             /* Text color */
}
.center-figure {
    display: block;      /* Converts the figure to a block element */
    margin-left: auto;   /* Automatically centers the element horizontally */
    margin-right: auto;
    width: 50%;          /* Set a width smaller than the container */
    text-align: center;  /* Centers the figcaption text */
}
figure {
    /* Add styling like borders, margins, etc. */
    border: 0px solid #ccc;
    padding: 0px;
    margin: 0;
    text-align: center; /* Center the image and caption */
}
h0, h1, h2, h3, h4, h5, h6 {
  color: #d77f2d; /* your chosen color */
}
figcaption h2, figcaption p {
    /* Style the caption text */
    font-size: 0.9em;
    color: #555;
    margin-top: -5px;
    padding: 0px;
    margin: 0px;
}
figcaption:empty {
  display: none;
}
/* Term (<dt>) specific style */
dl dt {
    --md-code-bg-color: transparent !important;
    --md-code-fg-color: #d77f2d;
    font-size: 1.5em;   /* adjust size */
    font-weight: bold;
}

/* Description (<dd>) specific style */
dl dd {
    margin-left: 1.5em;
}
